body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 2rem;
  font-size: 2.5rem;
  font-family: monospace;
  align-items: center;
}

.button {
  padding: 1rem;
  font-size: 1.5rem;
}

.top-wrapper {
  display: flex;
}
